---
import Layout from '@/layouts/Layout.astro'
import AboutMe from '@/components/AboutMe.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Erick Capilla | About me">
  <Header />
  </div>
  <main class="mt-3 max-w-3xl w-full mx-auto mb-12 py-3">
    <AboutMe />
	</main>
  <Footer />
</Layout>