---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Projects.astro';
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Erick Capilla | Projects">
  <Header />
  </div>
  <main class="mt-3 max-w-3xl w-full mx-auto mb-12 py-3">
    <Project />
	</main>
  <Footer />
</Layout> 