<article class="text-sm min-[768px]:text-base">
  <section class="mb-10 mt-5">
    <p>
      <strong class="text-[rgb(var(--accent))]"> Desarrollador frontend </strong> con una s칩lida base en ingenier칤a en computaci칩n y amplia experiencia en dise침o gr치fico. <strong class="text-[rgb(var(--accent))]"> <br /><br /> H치bil en la creaci칩n de aplicaciones web intuitivas, responsivas y visualmente atractivas </strong> utilizando tecnolog칤as modernas de frontend. <br /><br />  Experto en trabajar en entornos colaborativos, aprender continuamente nuevas herramientas y t칠cnicas, y adaptarse r치pidamente a los cambios en los proyectos.
    </p>
  </section>
  <section>
    <h2 class="text-xl text-center font-bold my-3 ">Habilidades</h2>
    <ul class="list-disc ml-5">
      <li>
        <strong class="text-[rgb(var(--accent))]">Desarrollo Web:</strong> Competente en HTML, CSS, JavaScript, TypeScript y ReactJs para construir interfaces din치micas y amigables para el usuario. 游눹
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Lenguajes de Programaci칩n:</strong
        > Conocimientos en JavaScript, TypeScript, Java, C y Rust, con un fuerte 칠nfasis en el desarrollo frontend. 游늯
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Resoluci칩n de Problemas:</strong> Fuertes habilidades anal칤ticas con la capacidad de solucionar y resolver problemas de manera eficiente.
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Colaboraci칩n en Equipo:</strong> Jugador de equipo efectivo con excelentes habilidades de comunicaci칩n, capaz de proponer e integrar ideas dentro de un equipo.
      </li>
    </ul>
  </section>
</article>
