<article class="py-2 px-10 pb-10 md:mt-12">
  <img src="/portada.png" alt="Cover about me">
  <section class="mb-10 mt-5">
    <p>
      <strong class="text-[rgb(var(--accent))]"> Frontend developer </strong> with
      a strong foundation in computer engineering and extensive experience in graphic
      design. Skilled in <strong class="text-[rgb(var(--accent))]">
        creating intuitive, responsive, and visually appealing web applications
      </strong> using modern frontend technologies. Adept at working in collaborative
      environments, continuously learning new tools and techniques, and adapting
      quickly to project changes.
    </p>
  </section>
  <section>
    <h2 class="text-2xl text-center font-bold my-3 ">Skills</h2>
    <ul class="list-disc">
      <li>
        <strong class="text-[rgb(var(--accent))]">Web Development:</strong> Proficient
        in HTML, CSS, JavaScript, TypeScript, and ReactJs for building dynamic and
        user-friendly interfaces. 💻
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Programming Languages:</strong
        > Knowledgeable in JavaScript, TypeScript, Java, C, and Rust, with a strong
        emphasis on frontend development. 📄
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Problem Solving:</strong> Strong
        analytical skills with the ability to troubleshoot and resolve issues efficiently.
      </li>
      <li>
        <strong class="text-[rgb(var(--accent))]">Team Collaboration:</strong> Effective
        team player with excellent communication skills, capable of proposing and
        integrating ideas within a team.
      </li>
    </ul>
  </section>
</article>
