---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<article
  class="relative bg-stone-700 bg-opacity-30 border border-stone-500 rounded-md px-2 py-4 backdrop-blur-md text-sm"
>
  <div
    class="absolute left-0 top-0 -z-10 h-full w-full opacity-90"
  >
  </div>
  <a href={href} target="_blank">
    <h2 class="text-lg font-bold mb-3">
      {title}
    </h2>
    <slot />
  </a>
</article>
