---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<article class="relative bg-black bg-opacity-30 border border-gray-600 rounded-md px-2 py-4 backdrop-blur-md text-sm">
	<div class="absolute left-0 top-0 -z-10 h-full w-full bg-gradient-to-r from-transparent to-blue-800 opacity-10"></div>
	<a href={href} target="_blank">
		<h2 class="text-base font-bold">
			{title}
		</h2>
		<slot />
	</a>
</article>
