---
const year = new Date().getFullYear()
---

<footer class="flex items-center justify-center w-full p-3"> 
  <a href="https://www.linkedin.com/in/erickcapilla" target="_blank">✨ Erick Capilla - {year}</a>
</footer>