---
import GitHub from "./icons/GitHub.astro"
import LinkedIn from "./icons/LinkedIn.astro"
import Mail from "./icons/Mail.astro"
import Twitter from "./icons/Twitter.astro"
---

<header class="flex items-center justify-between max-w-4xl w-full sticky z-100 top-0 mx-auto p-3 bg-stone-950">
  <section class="flex gap-2 items-center border border-stone-700 w-fit py-1 px-3 rounded-full bg-stone-800 opacity-90 backdrop-blur-sm">
    <picture class="block w-7 h-7 rounded-full overflow-hidden">
      <img src="/profile.webp" alt="Erick Capilla's picture profile">
    </picture>
    <h1 class="text-stone-200">Erick Capilla</h1>
  </section>
  <section class="flex items-center gap-2 text-stone-400">
    <a href="http://www.linkedin.com/in/erickcapilla" target="_blank" rel="noopener noreferrer">
      <LinkedIn />      
    </a>
    <a href="http://www.github.com/erickcapilla" target="_blank" rel="noopener noreferrer">
      <GitHub />      
    </a>
    <a href="http://www.x.com/erickcapilla_" target="_blank" rel="noopener noreferrer">
      <Twitter />      
    </a>
    <a href="mailto:erickpoblano25@gmail.com" target="_blank" rel="noopener noreferrer">
      <Mail />      
    </a>
  </section>
</header>