<div class="flex flex-col-reverse md:flex-row justify-between items-center gap-3">
  <p
    class="md:max-w-xl mt-6 [&>strong]:text-[#2DD280] [&>strong]:font-semibold text-gray-900 dark:text-gray-300"
  >
    I'm <b>Erick Capilla</b>, a software engineer from Mexico with ~1 year of
    experience. I'm passionate about <strong
      >building web applications that are intuitive, responsive, and visually
      appealing using frontend technologies.</strong
    >
  </p>
  <img src="/code.svg" alt="code unDraw" class="max-w-80 h-auto w-full aspect-video object-fit" />
</div>
