---
import Badge from "./Badge.astro";
---

<div class="max-w-xl">
  <div class="grid gap-5 mb-4">
    <h2 class="text-4xl font-bold tracking-tight sm:text-5xl text-stone-300">
      Hey, soy Erick Capilla
    </h2>
    <a
      href="https://linkedin.com/in/erickcapilla"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <p
    class="mt-6 text-xl [&>strong]:text-[#2DD280] [&>strong]:font-semibold text-gray-300"
  >
    <strong
      >Desarrollador frontend con una sólida base en ingeniería en computación.</strong
    > de México. Hábil en la creación de aplicaciones web intuitivas, responsivas
    y visualmente atractivas utilizando tecnologías modernas de frontend.
  </p>
</div>
