---
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
} from "@/components/ui/cardui";
import { Badge } from "@/components/ui/badge";
import { technologies } from "@/data/technologies";
import { projects } from "@/data/projects";
import { Github } from "@react-symbols/icons";
---

<section class="grid gap-3">
  <h2 class="text-xl font-bold mb-5">Projects</h2>
  {
    projects.map((project) => (
      <Card className="rounded-sm">
        <CardHeader>
          <div class="flex justify-between items-center">
            <h3 class="font-bold">{project.title}</h3>
            <a
              href={project.url}
              target="_blank"
              class="text-xs dark:text-gray-400 text-gray-700 dark:hover:text-white hover:text-zinc-950"
            >
              <Github className="size-7" />
            </a>
          </div>
        </CardHeader>
        <CardContent>
          <p class="text-xs text-gray-700 dark:text-gray-300">{project.Description}</p>
        </CardContent>
        <CardFooter className="flex flex-wrap gap-2">
          {technologies.map(
            (tech) =>
              project.technologies.includes(tech.name) && (
                <Badge variant="outline">
                  <tech.icon className="size-5 mr-2" /> {tech.name}
                </Badge>
              )
          )}
        </CardFooter>
      </Card>
    ))
  }
</section>
